canvas {
  min-width: 750px;
}

body {
  background-color: black;
  font-family: Futura;
}
input {
  margin: 1em 0;
}

select {
  margin: 1em 0 1em;
}

h1 {
  color: white;
  width: 100%;
  font-size: 1em;
}

a {
  font-size: 0.5em;
  text-decoration: none;
  color: white;
}

#root {
  display: flex;
  max-width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.controls {
  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;
}

.controls div {
  display: block;
  padding: 0.5em;
  border: 1px solid black;
  color: white;
  background: rgba(30, 30, 30, 0.9);
  flex-grow: 2;
}

.controls div:hover {
  background: rgba(130, 130, 130, 0.9);
  color: black;
}

.controls div:first-child {
  max-width: 6em;
  font-weight: 800;
  flex-grow: 1;
}

.controls div:last-child {
  max-width: 90px;
}

.controls input,
.controls select,
.controls button {
  display: block;
}

.controls label:hover {
  cursor: help;
}

#modal-capture {
  position: absolute;
  width: 100%;
  top: 0px;
  left: 0px;
  z-index: 3;
  align-items: center;
  justify-content: center;
  display: flex;
}
#modal-capture-preview {
  width: 900px;
  display: flex;
  align-content: center;
  background-color: darkgrey;
  align-items: center;
  flex-direction: column;
}

#modal-capture-preview img {
  margin: 40px 0;
  border: 5px solid black;
}

select,
button {
  margin-top: 1em;
}
